
 <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded "> -->
<div class="container container-fluid">
 
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      
    </ul>
<ul class="nav nav-pills">
  <li class="nav-item">
    
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      
      
      <a class="dropdown-item" ><%= link_to 'Sign Up ', new_user_registration_path%></a>
      <a class="dropdown-item" ><%= link_to 'Sign In ', new_user_session_path%></a>    
      
    </div>
  </li>
  </ul>
    
  </div>
  </div>
</nav>
