
 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

 <div class="container-fluid container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item ">
        <a class="nav-link" href="/home"> <i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>

   
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
    <ul class="nav nav-pills">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.username%></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/user/<%=current_user.username%>"><i class="fa fa-user" aria-hidden="true"></i>   Profile</a>
        
      <a class="dropdown-item"><%= link_to ' Editar perfil', edit_user_registration_path, class:"fa fa-pencil-square-o center" %></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" ><%= link_to 'cerrar sesion', destroy_user_session_path, method: :delete, class:"fa fa-sign-out" %></a>
    </div>
    
  </li>
  
  </ul>
  </div>
  </div>
</nav>
